@model AspNetMvcSerialization.Website.Models.CollectionModel
@using AspNetMvcSerialization

@* We need to import this namespace as otherwise our custom ICollection<string> HtmlHelper overload would not be called *@

@{
    ViewBag.Title = "ICollection<string> serialization";
}

<h2>@ViewBag.Title</h2>

@if (IsPost)
{
    <p>The values below were de-serialized from the submitted form.</p>
}
else
{
    <p>Click on submit to submit the form and see if the collection is correctly de-serialized.</p>
}

@using (Html.BeginForm())
{
    // Here we will be serializing the dictionary using our custom HtmlHelper. By correctly serializing the
    // collection into the correct format (see http://www.hanselman.com/blog/ASPNETWireFormatForModelBindingToArraysListsCollectionsDictionaries.aspx)
    // the default model binder will be able to correct de-serialize the submitted collection
    @Html.Editor(Html.NameFor(m => m.Collection).ToString(), Model.Collection)
    
    <input type="submit" value="Submit" />
}

<ul>
    <li>
        @Html.ActionLink("EditorFor", "Index", "Collection")
        @Html.ActionLink("HiddenFor", "Hidden", "Collection")
    </li>
</ul>