<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
    <body>
        <ul>
            <li>
                @Html.ActionLink("EditorFor", "Index", "Home")
                @Html.ActionLink("HiddenFor", "Hidden", "Home")
            </li>
        </ul>

        @RenderBody()
    </body>
</html>
